
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  
<body>
    

{% extends 'blog/base.html' %}

{% block content %}

    <article class="post">
        <aside class="actions ">
         
            <a href="{% url 'blog:post_edit' posts.slug %}"  class="btn btn-secondary">
                <i class="bi bi-pencil-fill" ></i>
            </a>
        </aside>
        {% if posts.published_date %}
            <time class="date">
                {{ posts.published_date }}
            </time>
        {% endif %}
        <div class="dflex my-3" style="display:flex;gap:20px">
        <img src="{{posts.timage.url}}" width="80" height="80" style="border-radius:50%">
        <h1 class="py-3">{{ posts.title }}</h1>
        </div>
      
        <img src="{{posts.featureimage.url}}" width="70%" height="350">
        <p class="my-4">{{ posts.text|linebreaksbr }}</p>
        <p>
        {% if posts.category %}
        category: <a href="{% url 'blog:category_detail' slug=posts.category %}"> {{posts.category}}</a>
       {% endif %}
      </p>
      <p>
        {% if posts.tag %}
        tags:
        {% for posts in posts.tag.all %}
        <a href="{% url 'blog:tag_detail'  slug=posts.slug %}"> {{posts.tag_name}},</a>
         {% endfor %}
         {% endif %}
       </p>
       <p>  <img src="{{user.profileimage.url}}" width="60" height="60" style="border-radius:50%"><a href="{% url 'blog:user_profile' %}" class="text-decoration-none"><span class="ms-2 text-dark text-capitalize">{{user.first_name}}</span></a></p>
       
    </article>
    <article>
   <p class="text-danger fs-4">  comments: <small class="text-dark fs-4">{{comments.count}}</small></p>


<!-- Comment with nested comments -->
{% for comment in comments %}
    <div class="comment my-3">
        <p class="info">{{ comment.name }}: {{ comment.body }}  <small style="float:right">{{ comment.created }} </small></p>
           

        {% for replay in comment.replies.all %}
            <p class="ms-4">{{ replay.name }}: {{ replay.body }}   <small style="float:right">{{ replay.created }}</small></p>
         
        {% endfor %}

        <button class="btn btn-primary reply">Reply</button>
        <form action="." method="post" class="form1 my-4">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <!-- Hidden input for parent comment.id -->
            <input type="hidden" name="parent_id" value="{{ comment.id }}">
            <input class="btn btn-primary" type="submit" value=" submit your Replay">
        </form>
    </div>
{% empty %}
<h4>There are no comments yet.</h4>
{% endfor %}
    </article>
 
    <form action="." method="post" class="my-3">
        {{ comment_form.as_p }}
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Add comment</button>
    </form>
   
{% endblock %}


 
</body>


</html>